body {
	box-sizing: border-box;
	margin: 0;
	font-family: Arial, sans-serif;
}

.navbar {
	background-color: #333;
	overflow: hidden;
}

#countryForm {
	left: 199%;
}
#nextPageBtn {
	position: absolute;
	left: 80%;
}
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	transition: 0.9s ease-in-out;
}
.navbar a:hover {
	background-color: #ddd;
	color: black;
}
@media screen and (max-width: 900px) {
	.navbar {
		padding: 10px;
	}
	.navbar a {
		display: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-toggle.active .bar1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.navbar-toggle.active .bar2 {
		opacity: 0;
	}
	.navbar-toggle.active .bar3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
	.bar {
		width: 25px;
		height: 3px;
		background-color: white;
		margin: 4px 0;
		transition: 0.4s;
	}
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}
th {
	background-color: #f2f2f2;
	font-weight: bold;
}
tr {
	transition: 0.4s ease-in-out;
}
tr:hover {
	cursor: pointer;
	background-color: #aaaaaa;
}
